profiles {
   awsbatch {
    aws {
      accessKey = secrets.aws_access_key_id
      secretKey = secrets.aws_secret_access_key
    }
    docker.enabled = true
    wave.enabled = true
    fusion {
      enabled = true
      exportStorageCredentials = true
    }
    tower.accessToken = secrets.tower_access_token
    process {
//      container = 'quay.io/nextflow/rnaseq-nf:v1.2.1'
////      container = 'ecpe4s/ubuntu22.04-runner-amd64-oneapi-2024.0.0:2023.12.01'
//      container = 'quay.io/pawsey/intel-hpc-python:2022.03'
//      container = 'ecpe4s/ubuntu22.04-runner-amd64-gcc-11.4:2023.12.01'
      container = 'cr.seqera.io/public/rnaseq-nf:v1.2.1'
      cpus = 1
      executor = 'awsbatch'
//      queue = 'nextflow-ci'
      queue = 'marco-test-ci'
    }
    workDir = 's3://nextflow-ci-dev/work'
  }

  'wave-stage' {
    wave.endpoint = 'https://wave.stage-tower.net'
    tower.endpoint = 'https://api.stage-tower.net'
    tower.accessToken = secrets.tower_access_token_stage
  }  
}

